@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
body {
  margin: 0;
}
@media (max-width: 768px) {
  body {
    background-color: #EBEBEB;
  }
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#main #map {
  position: relative;
}
#main #map .cell {
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
